.submit-button {
    background-color: lime;
    /*CSS design for the colours of buttons and input box */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pass-button {
    background-color: yellowgreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.reset-button {
    background-color: lightcoral;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.giveup-button {
    background-color: Grey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
  margin: auto;
  width: 35%;
  padding: 130px;
}

.submit-button:hover {
    background-color: #4CAF50;
}

.pass-button:hover {
    background-color: yellow;
}

.reset-button:hover {
    background-color: lightsalmon;
}

.giveup-button:hover {
    background-color: wheat;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 75%;
  padding: 10px;
  height: 100vh;
  /* Should be removed. Only for demonstration */
}

#leftPanel {
  flex: 25%;
  padding: 10px;
  height: 100vh;
}

.header {
  background-color: #6499e9;
  flex: 100%;
  height: 40px;
}

#hintPanel {
  font-size: 2rem;
  font-family: Verdana;
}

.roundBox {
  background-color: #9eddff;
  border-radius: 5px;
  width: 80%;
  min-height: 5rem;
  font-size: 2rem;
}

#controlPanel {
  display: flex;
  justify-content: center;
}

#word {
  width: 50%;
}