/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aee2e9;
}

header {
    background-color: #87CEEB;
    color: #000000;
    text-align: left;
    padding: 1rem;
}

h1 {
    margin: 0;
}

/* Style for the images */
.image-container {
    text-align: center;
    margin: 2rem 0; /* Add space between images */
}

.square-image {
    width: 200px; /* Set a fixed width for square images */
    height: 200px; /* Set a fixed height for square images */
    margin: 0 3rem; /* Add space between images horizontally */
}

.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  .form-container h2 {
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
  }

button {
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4eb55de9;
}

.difficulty-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


.difficulty-rectangle {
    width: 150px;
    height: 80px;
    background-color: #0f68bbe9;
    color: #84e5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.difficulty-rectangle:hover {
    background-color: #0056b3;
}

/* Add a style for the 'active' button */
.difficulty-rectangle.active {
    background-color: #0056b3;
}

/* Center the difficulty descriptions and add some margin */
.difficulty-descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .difficulty-description {
    flex: 1;
    text-align: center;
  }
  

.difficulty-rectangle i {
    font-size: 32px;
  }