body {
  background-image: url("background.jpg");
  background-size: auto;
  background-position: auto;
  margin: 0;
}
/* THIS IS TO MAKE THE BACKGROUND IMAGE TRANSPARENT(the linear gradient does not really work) */
.transparent-screen {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* THIS IS FOR THE BOX ENCAPSULATING THE USER FORM */
.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 50vw;
  height: 60vh;
  justify-self: center;
}

.main-title {
  color: #d0e7d2;
  font-size: larger;
  width: 100%;
  text-align: center;
}

/* User details */
.user-information-form {
  display: flex;
  flex-direction: column;
  color: #d0e7d2;
  gap: 1em;
}

/* Applies to username and birthday text/date inputs */
.user-information-form input[type="text"] {
  height: 40px;
  border-radius: 5px;
}

/* Applied to gender drop down list */
#gender {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

/* Applies to green start button */
button[value="start"] {
  background-color: green;
  color: white;
  width: 5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  align-self: end;
}

