* {
  margin: 5;
  padding: 5;
  font-family: comic "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

/* THIS IS FOR THE BOX ENCAPSULATING THE USER FORM */
.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 700px;
  height: 400px;
  position: absolute;
  top: calc(50% - 230px);
  left: 50%;
  transform: translateX(-50%);
}

/* THIS IS TO MAKE THE BACKGROUND IMAGE TRANSPARENT(the linear gradient does not really work) */
.transparent.screen {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("background2.png");
  background-size: auto;
  background-position: auto;
}

.welcome {
  color: #d0e7d2;
  font-size:x-large;
  width: 100%;
  position: absolute;
  top: 20%; /*THIS TOP THINGY IS FOR ADJUSTING POSITION VERTICALLY */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user.information.form {
  display: flex;
  flex-direction: column;
  color: #d0e7d2;
  max-width: 400px;
  position: absolute;
  top: calc(30% + 20px);
  left: 15%;
  transform: translateX(-50%);
}

.user.information.form label,
.user.information.form input[type="text"],
.user.information.form input[type="date"],
.user.information.form select {
  margin-bottom: 10px;
}

.user.information.form input[type="text"] {
  width: 380%;
  height: 40px;
  border-radius: 5px;
}

button[value="start"] {
  background-color: green;
  color: white;
  position: absolute;
  width: 50%;
  height: 20%;
  border-radius: 20px;
  bottom: -10%;
  left: 330%;
}

#Gender {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

/******************** FOR AGE RESTRICTION PAGE ***********************/
.age.restriction.message{
  color: aliceblue;
  max-width: 400px;
  position: absolute;
  top: calc(30% + 20px);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
