/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #95ae93;
}

header {
  background-color: #2b5427;
  color: #95ae93;
  text-align: left;
  padding: 1rem;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0.5em;
}

h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
}

p {
  margin: 0;
}

/* Style for the images */
.image-container {
  text-align: center;
  margin: 1rem 0; /* Add space between images */
}

.form-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.form-container h2 {
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.button-container {
  display: flex;
  justify-content: center;
}

.btn-choose {
  background-color: #194614;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.btn-randomize {
  background-color: #194614;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4eb55de9;
}

.difficulty-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.difficulty-rectangle {
  width: 300px;
  height: 160px;
  background-color: #194614;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.difficulty-rectangle:hover {
  background-color: #00b71b;
}

/* Add a style for the 'active' button */
.difficulty-rectangle.active {
  background-color: #00b71b;
}

/* Center the difficulty descriptions and add some margin */
.difficulty-descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.difficulty-description {
  flex: 1;
  text-align: start;
  font-size: 1em;
}

.difficulty-rectangle i {
  font-size: 32px;
}

.icon-container {
  height: 2rem;
  margin-right: 1em;
}

.difficulty-detail-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
